/* */

@charset "UTF-8";
@font-face {
    font-family: LemonMilk;
    src: url(assets/fonts/LEMONMILK-Regular.otf);
}
@font-face {
    font-family: Coolvetica;
    src: url(assets/fonts/Coolvetica\ Rg.otf);
}
@font-face {
    font-family: Gloomie;
    src: url(assets/fonts/GloomieSaturday.otf);
}

.bubble {
  background-color: #bfb9ff;
  padding: 20px;
  margin: 30px auto;
  border-radius: 15px;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.divider {
  height: 1px;
  background-color: #2D2327;
  margin: 20px 0;
  width: 100%;
}

#mpl {
  width: 100px;
  height: auto;
}

img {
  float: right;
}


#microscopeActivity {
  max-width: 250px;
  height: auto;
  border-radius: 10px; 
}

#meetingSpace {
  max-width: 250px;
  height: auto;
  border-radius: 10px; 
}

#languages {
  max-width: 250px;
  height: auto;
  border-radius: 10px; 
}

#creativeMindset {
  max-width: 250px;
  height: auto;
  border-radius: 10px; 
}

#skills {
  text-align: left;
}

#achievements {
  text-align: left;
}

#soccer {
  max-width: 250px;
  height: auto;
  border-radius: 10px; 
}

#mplWrapper {
  position: fixed;
  top: 30px;
  left: 50px;
  width: 108px;
  height: 108px;
  background-color: #2D2327;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

body {
  font-family: Georgia, serif;
  font-size: 100%;
  background-color: #8C93A8;
  margin: 0;
}

h1 {
    text-align: center;
    color: #2D2327;
    font-family: LemonMilk;
}

h2 {
    text-align: center;
    color: #2D2327;
    font-family: Coolvetica;
}

p {
  color: #bfb9ff;
  font-family: Coolvetica;
}

/* link styles */
a:link, a:visited { color: #DC6903; }
a:focus, a:hover, a:active { color: #F9AB33; }

a {
  text-decoration: none;
  border-bottom: 1px dotted;
  padding-bottom: .2em;
  font-family: LemonMilk;
}

/* header styles */
header h1 {
  margin-top: 1.5em;
  text-align: center;
}


/* nav styles */
nav, footer {
  font-family: verdana, sans-serif;
  background-color: #45364B;
}
nav ul li a:link, nav ul li a:visited {
  color: #B5C2B7;
}
nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
  color: #fff;
  transform: scale(1.05);
}
nav ul {
  margin: 0;
}
nav ul li {
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .2em;
}
nav ul {    
  margin: 0;       
  padding: 0;   
  list-style-type: none;     
  display: flex; 
  display: flex;   
  justify-content: center; 

}

nav ul li a {
 display: block;    
 border: 1px solid;    
 border-radius: .5em;    
 padding: .5em 1em;    
 margin: .5em; 
}
 
ul {
  color: #2D2327;
  font-family: Coolvetica;
}  

ol {
  color: #2D2327;
  font-family: Coolvetica;
}

main {
  font-family: 'Stint Ultra Expanded', Georgia, serif;
  background-color: #62466B;
  line-height: 1.8em;
  padding: 1em;
  border: double 4px #EADDC4;
  border-radius: 25px;
  margin: 2.5%;
}
h3 {
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #2D2327;
  padding-left: 1em;
  margin-top: 2.5em;
  font-family: LemonMilk;
}

/* aside "hours" styles */
aside {
  background: url(images/scallop.png) repeat-y left top;
  background-color: #62466B;
  padding: 1em;
  padding-left: 45px;
  border-top-right-radius: 25px;
  margin: 1em 2.5% 0 10%;
}
/* misc styles */
footer {
  color: #00ff1e;
  text-align: center;
  font-size: 1em;
  padding: 1em;
}


#award { 	
  position: fixed; 	
  top: 30px; 	
  left: 50px;
}
.day { 
  color: #783F27;
  font-family: verdana, sans-serif;
  font-size: .8em;
  text-transform: uppercase;
}

h4 {
  text-align: center;
  color: #2D2327;
  font-family: Gloomie;
  font-size: 40px;
}


